// Components- reusable, isolated, and styled with purpose
.title-block{
    margin-right:340px;
    display: flex;
    flex-wrap: wrap;
    height:56px;
    width:218.62px;
    margin-left:440px;
    margin-top:88px;
    gap: 35.62px;

}
.search-block {
    top: 200px;
    padding-top:16px;
    padding-right:8px;
    padding-bottom: 16px;
    padding-left: 8px;
    border-radius: 16px;
    display:flex;
    flex-wrap: wrap;
    
    

}
.report-container-block{
    display: flex;
    justify-content: center;
    width: 1140px;
    margin-top:2px;
    margin-left:440px;
    margin-right:340px;
    padding-bottom: 16px;
    gap: 26.7px;
    
}

.clicked-report-card{
    margin: 0;
    padding: 0;
    align-content: center;
    width: 265px;
    height: 180px;
    background-color: rgb(50, 50, 76);
    border-radius: 20px;
   
    
}
.regular-report-card{
    align-content: center;
    width: 265px;
    height: 180px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);

}
.text-inside-cards{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 180px;
}
.search-box{
    margin-bottom: 0px;;
    width: 280px;
    height: 56px;
}
.mid-title-block{
    margin-right: 340px;
    margin-left: 440px;
    
}
.user-report-block{
    margin-right: 340px;
    margin-left:440px;;
    
}