// Layout-related classes
*, *::before, *::after {
    box-sizing: border-box;
}
html {
   
    
    margin-inline: auto;
    max-width: 1920px;
    max-height:1080px;
    

}
body {
    top:278px;
    left:440px;
    
   background-color: #F7F7F7;
    top:278px;
   
}