// Overrides or tweaks, when something breaks the pattern
// .grid-cell-extra{
//     display: flex;
//     font-family: 'Rubik Light', sans-serif;
//     font-size: 18px;
//     line-height: 100%;
//     letter-spacing: 0.95%;
//     color: rgba(41, 41, 41, 1);
//     font-weight: 400;
// }
// .grid-cell-extra-two{
//     display: flex;
//     font-family: 'Rubik Light', sans-serif; 
//     align-items: center;
//     justify-content: center;
//     width: 54px;
//     height: 29px;
//     border-radius: 8px;
//     padding: 4px 8px 4px 8px;
//     gap: 10px;
//     background-color: rgba(42, 42, 42, 0.1);
// }
// .grid-font-14{
//     font-size: 14px;
//     font-family: 'Rubik Light', sans-serif;
//     font-style: normal;
//     line-height: 100%;
//     letter-spacing: 0%;
//     color: rgba(41, 41, 41, 1);
//     padding: 4px 8px 4px 8px;;

// }
.p-exception-one{  //This is the design of the ללא box
    width: 53px;
    height: 21px;
    color: rgba(41, 41, 41, 1);
}
.p-exception-two{
    width: 36px;
    height: 17px;
    color: rgba(41, 41, 41, 1);
}
.p-for-without{
 width: 70;
height: 29;
opacity: 1;
border-radius: 6px;
background: rgba(112, 112, 112, 0.05);

}
.box-for-without-sub{
width: 75;
height: 29;
padding-top: 4px;
padding-right: 6px;
padding-bottom: 4px;
padding-left: 6px;
gap: 10px;
opacity: 1;
border-radius: 6px;
background: rgba(112, 112, 112, 0.1);

//search bar logic
}
.is-hidden {
    display: none !important;
}

#search-form{
    color: aqua;
}
#user-search{
    color: blueviolet;
}