// Single-purpose helper classes, usually small and reusable
// used like this: u-text-center u-margin-top
//Design
.underline{
    text-decoration: underline;
}
// Colors
.blue-bg-color{
    background-color: rgb(50, 50, 76);
}
.white-font-color{
    color: rgba(255, 255, 255, 1);
}
.grey-font-color{
    color: rgba(149, 149, 149, 1);
}
.sky-font-color{
    color: rgba(54, 173, 193, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.95%;
    
}

//Fonts
.rubik-700-bold-18px{

    font-family: 'rubik bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.95%;
    color: rgba(41, 41, 41, 1);
}
.rubik-500-medium-36px{
    font-family: 'Rubik Medium', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.95%;
    color: rgba(41, 41, 41, 1);
}
.rubik-400-regular-18px{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.95%;
    color: rgba(41, 41, 41, 1);
}
.rubik-400-regular-18px-b{
font-family: 'Rubik';
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 100%;
letter-spacing: 0.95%;
text-align: right;

}


.rubik-400-regular-32px{
    font-family: 'Rubik';
    width: 127px;
    height: 38px;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0.95%;
    color: rgba(41, 41, 41, 1);
}
.rubik-400-regular-20px{
    font-family: 'Rubik';
    width: 127px;
    height: 38px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0.95%;
    color: rgba(149, 149, 149, 1);
}
.rubik-400-regular-14px{
    font-family: 'Rubik';
    width: 36px;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(42, 42, 42, 1);
    
}

// Layout
.go-back-button{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    padding: 12px;
    gap: 10px;
    border: none;
    background-color: rgb(255, 255, 255);

}
.filter-button{
    width: 100px;
    height: 56px;
    padding: 15px 16px;
    background-color: #F7F7F7;
    border-radius: 12px;
}
.blue-stats-box{
    width: 277px;
    height: 196px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}

.search-light-icon{
    border-radius: 12px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: #ffffff;
    
}
.search-button{
    width: 28px;
    height: 28px;
    border: none;
    display: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.search-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 121px;
    height: 21px;
    border: none;
    gap: 8px;
    
}
.horizontal-line{
    width: 1141px;
    height: 0px;
    top: 247px;
    left: 438px;
    border-radius: 1px;
    background-color: rgba(221, 221, 221, 1);
    
    
}

// .mini-bar-item{
//     display: block;
// }

.mini-bar-item-one{
    width: 277px;
    height: 29px;
    padding-right: 10px;
    gap: 10px;
    grid-area: 2/2/3/4;
}

.mini-bar-item-two{
    width: 377px;
    height: 29px;
    padding-right: 10px;
    gap: 10px;
}
.mini-bar-item-three{
    width: 140px;
    height: 29px;
    padding-right: 10px;
    gap: 10px;
}
.mini-bar-item-four{
    width: 165px;
    height: 29px;
    padding-right: 10px;
    gap: 10px;
}
// Boxes
.double-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.grey-grid-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 29px;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    gap: 10px;
    background-color: rgba(42, 42, 42, 0.05);

}
.sky-blue-grid-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 29px;
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
    gap: 10px;
    background-color: rgba(54, 173, 193, 0.1);
}
.light-grey-grid-box{
    width: 63px;
    height: 21px;;
    font-family: 'Rubik';
    color:rgba(112, 112, 112, 1);
}


// .filter-button{
//     width: 100px;
//     height:56px;
//     padding-top: 15px;
//     padding-right: 16px;
//     padding-bottom: 15px;
//     padding-left: 16px;
//     background-color: #F7F7F7;
//     border-radius: 12px;
//     margin-left: 439px;;
// }
// .search-submit-button{
//     border-radius: 12px;
//     height: 12px;
// }
// .go-back-button{
//     border-radius:12px;
//     width:56px;
//     height:56px;
//     border-radius: 12px;
//     top:88px;
//     right:440px;
// }
// .title-absences{
//     width: 127px;
//     height: 38px;
//     font-family: 'card-font-bd', sans-serif;
//     font-size: 32px;
//     font-weight: 400;
//     font-style: normal;
//     line-height: 100%;
//     letter-spacing: 0.95%;
//     align-self: center;
//     color: rgba(41, 41, 41, 1);
    
// }

// .sliders-light.icon{
//     width: 28px;
//     height: 26.25px;
//     margin-right: 340px;
//     margin-left: 0px;
//     background-color: #000000
// }
// .mid-title{
//     display: block;
//     margin-right:340px;
//     font-weight:400;
//     font-size: 32px;
//     line-height: 100%;
//     letter-spacing: 0.95%;
//     color: rgba(41, 41, 41, 1);

// }
// .filter-text{
//     font-family: 'card-font-bd', sans-serif;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 100%;
//     letter-spacing: 0%;
//     color: #707070;
//     margin-left: 8px;
// }
// .filter-icon{
//     width:28px;
//     height:26.25px;
//     color: #000000;
//     background-color: #F7F7F7;
    
// }
// .up-arrow{
//     width: 8.99px;
//     height: 14px;
//     color: rgba(149, 149, 149, 1);
// }
// @font-face{
//     font-family: 'Rubik Light';
//     src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
// }
// .grid-font{
//     font-family:'Rubik Light, sans-serif';
//     font-weight: 400;   
//     font-style: normal;
//     size: 20px;
//     line-height: 100%;
//     letter-spacing: 0.95%;
//     -ms-text-combine-horizontal: right;
//     color: rgba(149, 149, 149, 1);
// }
// .grid-font-underline{
//     font-family:'Rubik Light, sans-serif';
//     font-weight: 400;   
//     font-style: normal;
//     size: 18px;
//     line-height: 100%;
//     letter-spacing: 0.95%;
//     -ms-text-combine-horizontal: right;
//     color: rgba(41, 41, 41, 1);
//     text-decoration: underline;
//     font-style: solid;
//     offset: 0%;
    
// }
// .grid-font-blue{
//     color: rgba(54, 173, 193, 1)
// }
// .vi-icon{
//     width: 18px;
//     height: 18px;
//     color: rgba(54, 173, 193, 1);
// }