// Single-purpose helper classes, usually small and reusable
// used like this: u-text-center u-margin-top
.filter-button{
    width: 100px;
    height:56px;
    top:175px;
    left:439px;
    border-radius: 12px;
    



}
.search-submit-button{
    border-radius: 12px;
    height: 12px;
}
.go-back-button{
    border-radius:12px;
}